body {
    font-family:"Tilt Neon", sans-serif;
    background-color: #e0e0e0;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container {
    width: 520px;
    height: auto;
    margin: 100px auto;
    background-color: #cbcbcbcd;
    border-radius: 25px;
    box-shadow: 20px 30px 50px rgb(176, 176, 176);
}
.base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

.base h4 {
    font-size: 28px;
    text-align: center;
    font-family: "Tilt Neon", sans-serif;
    font-weight: normal;
    margin-top: 25px;
    font-size:40px;
    color: #601bff;
    font-weight: bold;

  /* font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

  font-variation-settings:
    "XROT" 0,
    "YROT" 0; */
}
.title {
    font-size: 20px;
    text-align: left;
    /* font-family: sans-serif; */
    font-family:"Tilt Neon", sans-serif;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: #601bff;
}
input[type="text"] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #1073d0;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 9px;
    color: #1073d0;
    font-size: 17px;
}
input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}
input[type="button"] {
    width: 150px;
    margin-left: 35%;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 89px;
    background-color: #601bff;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
    font-family:"Tilt Neon", sans-serif;
}
input[type="button"]:hover {
    /* background-color: #003669; */
    background-color: rgb(2, 198, 228);
   color: #000000;
    font-family:"Tilt Neon", sans-serif;
    font-size: 16px;
}
#age {
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    /* font-family: verdana; */
    /* font-family:"Tilt Neon", sans-serif; */
    /* font-size: 5px; */
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: rgb(21, 54, 186);
}
